/*
Colors used:
#fffffa
#DF4C73

background: linear-gradient(to bottom, #FFF7E2, #fcf9f2);
*/
* {
  box-sizing: border-box;
}

body {
  /*background-color: #faf7e8;
  background-color: #F9FAF4;
  background-color: #fffffa;*/
  background-color: #f8f4f0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}
.bullet-para {
  font-size: .8em;
  opacity: .8;
}
.caption {
  font-size: .4em;
}
.bullet {
  padding-left: 40px;
}
.colorbar.row {
  background: #f8f4f0;
  opacity: 0.8;
  padding: 0px 0px 20px;
  margin-top: -150px;
  margin-bottom: 10px;
  position: relative;
  z-index: 3;
}
.colorbar-contact.row {
  background: #f8f4f0;
  opacity: 0.8;
  padding: 3px 0px 30px;
  margin-top: -80px;
  margin-bottom: 10px;
  position: relative;
  z-index: 3;
}

p {
  margin-top: 0px;
  padding-right: 20px;
}

p.textspaceabove {
  margin-top: 10px;
  line-height: 1.6em;
}

footer {
  background: #4A4A4A;
  padding: 8px 0;
  text-align: center;
}

.logo-icon {
  max-width: 70px;
}
.icon-fun {
  max-width: 100px;
  text-align: center;

}
.icon-menu {
  max-width: 100px;
  padding-top: 0;
  margin: 0;
}
.copyright {
  font-size: .7em;
  align-content: center;
  color: white;
}

h1, h2, h3, h4 {
  line-height: 1.4;
  margin-top: 15px;
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-size: 1.8em;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

h1.logo {
  font-size: 5em;
  font-weight: 200;
  color: #DF4C73;
  text-align: center;
  margin-bottom: 0;
  font-family: 'Roboto Slab', serif;
}

h2 {
  font-size: 1.4em;
  font-weight: 500;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
}

h2.space {
  background-color: #F9FBFE;
  margin-bottom: 0;
  padding: 80px 0px 0px;
  font-family: 'Roboto Slab', serif;
}

h3 {
  font-size: 1em;
  font-weight: 500;
  margin-top: 0;
  padding-bottom: 5px;
}
h3.space {
  font-size: 1em;
  font-weight: 500;
  padding: 16px 0px 8px;
}
h4 {
  font-size: 1.3em;
  font-weight: 300;
}

h5 {
  font-size: .8em;
}

h6 {
  font-size: .6em;
  font-weight: 100;
}

.rule {
  height: 8px;
  margin: -10px 0 20px 0;
  padding: 0px;
  background-color: #DF4C73;
}

.lost {
  text-align: center;
}

.toolshead {
  margin-left: 90px;
  margin-bottom: 0px;
  margin-top: 15px;
}

.sidebar {
  margin-left: 80px;
  margin-top: 4px;
  font-size: .8em;
}

.textspaceabove {
  line-height: .6em;
}

img {
  width: 100%;
  border-radius: 6px;
}

.shadow {
  box-shadow: 1px -1px 5px -1px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: 1px -1px 5px -1px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 1px -1px 5px -1px rgba(0, 0, 0, 0.31);
}
#quote {
  display: inline-block;
  text-align: left;
  padding: 20px 100px;
  font-size: 1.3em;
color: #DF4C73;
}
.resetsize {
  width: auto;
}

.clear {
  clear: both;
  display: inline-block;
}

.clear::before {
  content: '';
  display: block;
  width: 1px;
  clear: both;
}

.center {
  text-align: center;
}

a {
  color: #e3908e;
  text-decoration: none;
  /* No underlining */
}
.contact {
  color: #000000;
  font-weight: 500;
}

a:hover {
  color: #DF4C73;
  font-weight: 500;
}

a:active {
  /* selected link */
  color: #DF4C73;
  font-weight: 700;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #DF4C73;
  text-decoration: none;
  /* No underlining */
}

.icon-tool {
  max-width: 40px;
}
.social-icons {
  color: #4a4a4a;
}

.social-icons:visited {
  color: #4a4a4a;
}

.social-icons:hover {
  color: #DF4C73;
}

nav>ul>li>a:hover {
  color: #DF4C73;
  text-decoration: none;
  /* No underlining */
}

nav>ul>li>a:active {
  /* selected link */
  color: #DF4C73;
  text-decoration: underline;
  /* No underlining */
}

.button-container {
  width: 100%;
  max-width: 960px;
  margin-top: 50px;
  padding: 30px 0px;
  border-radius: 8px;
  background-color: #DF4C73;
}

.button {
  display: block;
  width: 100%;
  padding: 16px 0 16px;
  margin: 15px 15px;
  margin-left: 0px;
  color: #4A4A4A;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #DF4C73;
  border-style: dotted;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.button-menu {
  display: block;
  width: 100%;
  padding: 4px 8px;
  margin-left: 16px;
  color: #4A4A4A;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #DF4C73;
  border-style: dotted;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.button:hover {
  border: 1px transparent;
  cursor: pointer;
  background-color: #DF4C73;
  color: white;
  -webkit-box-shadow: 0px 15px 15px 0px rgba(227, 231, 236, 1);
  -moz-box-shadow: 0px 15px 15px 0px rgba(227, 231, 236, 1);
  box-shadow: 0px 15px 30px 0px rgba(227, 231, 236, 1);
}

/* footer styles */
.social a {
  display: inline-block;
  width: 40px;
  padding-top: 10px;
  padding-right: 10px;
  color: white;
}

/* Layout styling */
.container {
  padding: 0 45px;
}
.container.row.last-child {
  border-bottom: 0;
}
.about-photo {
  max-width: 200px;
  display: block;
}

.row {
  margin: 30px 0;
  /* 30px top and bottom, 0 left and right */
}
.row-about {
  margin: 0px 0;
  /* 30px top and bottom, 0 left and right */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
/* START code for 2x2 on index */
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 2px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 2 / 1 / 3 / 2;
}
.div4 {
  grid-area: 2 / 2 / 3 / 3;
}
.div5 {
  grid-area: 3 / 1 / 4 / 2;
}
.div6 {
  grid-area: 3 / 2 / 4 / 3;
}
/* END grid for index */

/* START grid for animation */
.parent-animation {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 8px;
grid-row-gap: 0px;
}

.div1-animation { grid-area: 1 / 1 / 2 / 2; }
.div2-animation { grid-area: 1 / 2 / 2 / 3; }
.div3-animation { grid-area: 1 / 3 / 2 / 4; }
.div4-animation { grid-area: 1 / 4 / 2 / 5; }
/* END grid for animation */
/* START grid for about icons */
.parent-about {
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 30px;
grid-row-gap: 25px;
}

.div1-about { grid-area: 1 / 1 / 2 / 2; }
.div2-about { grid-area: 1 / 2 / 2 / 7; }
.div3-about { grid-area: 2 / 1 / 3 / 2; }
.div4-about { grid-area: 2 / 2 / 3 / 7; }
.div5-about { grid-area: 3 / 1 / 4 / 2; }
.div6-about { grid-area: 3 / 2 / 4 / 7; }
.div7-about { grid-area: 4 / 1 / 5 / 2; }
.div8-about { grid-area: 4 / 2 / 5 / 7; }
/* END grid for about icons */

.imagereveal {
  position: relative;
}
.imagereveal .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  transition: all 1s;
}
.imagereveal .imagebase {
  opacity: 0;
}
.imagereveal:hover .overlay {
  opacity: 0;
}
.imagereveal:hover .imagebase {
  opacity: 1;
}
#work .row {
  padding-bottom: 25px;
  border-bottom: 0px solid #4a4a4a;
}
#work .row:last-child {
  padding-bottom: 25px;
}
#hero h1 {
  text-align: center;
  /* Centers text */
}

.user-profile {
  max-width: 150px;
  display: block;
  margin: 0 auto;
}

.logo-link {
  display: block;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.col-center {
  float: none;
  margin: 0 auto;
  padding: 0;
}

/* header */
header {
  /*background-color: #FFF7E2;*/
  background-color: #f8f4f0;
  padding: 0px 0 8px;
  position: fixed;
  /*-webkit-box-shadow: 0px 5px 5px 0px rgba(25, 25, 25, 0.05);
  -moz-box-shadow: 0px 5px 5px 0px rgba(25, 25, 25, 0.05);
  box-shadow: 0px 5px 5px 0px rgba(25, 25, 25, 0.05);*/
  width: 100%;
  border-top: 6px;
  z-index: 4;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #f8f4f0;
}

.navtoggle li .icon {
  position: absolute;
  padding-right: 0;
  right: 0;
  top: -6px;
  font-size: 28px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive nav {
  padding: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  color: #4a4a4a;
}

#hero {
  background-color: #ffffff;
  padding: 10px 0;
  display: inline-block;
  width: 100%;
  text-align: left;
}

#hero span {
  display: block;
}

main {
  padding-top: 140px;
  margin-bottom: 15px;
}

.hero-text {
  background: url('../img/welcome/pinkshirt-coverswirl.png') no-repeat top right;
  background-size: 100%;
  padding: 0px 0px 30px;
  min-height: 300px;
}

.hero-text-inside {
  max-width: 500px;
}



/*Projects Styles
================================= */
.animation-border {
  margin: 0 auto;
  display: block;
  border: 0;
}

/* START gently uncovering */
.image {
  height: 60vh;
  justify-content: center;
  align-items: center;
  background: url("../img/welcome/profile-pinkfeather-sm.png");
  background-size: cover;
  background-repeat: no-repeat;
  animation: face 2s ease-out;
  border-radius: 6px;
}

@keyframes face {
  from {
    opacity: 0%;
    width: 0%;
  }

  to {
    opacity: 100%;
    width: 100%;
  }
}
/* end photo uncovering */

/* ==============================
Small devices (640px and smaller)
================================= */
@media only screen and (max-width: 640px) {
  .col-sm-4 {
    width: 33.33%;
  }

  header {
    background-color: #f8f4f0;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(25, 25, 25, 0.05);
    -moz-box-shadow: 0px 0px 0px 0px rgba(25, 25, 25, 0.05);
    box-shadow: 0px 0px 0px 0px rgba(25, 25, 25, 0.05);
    padding: 4px 0px 0px;
  }

  .icon-menu {
    max-width: 35px;
  }
  .rule {
    height: 4px;
    margin: -4px 0 20px 0;
  }

  main {
    padding-top: 55px;
  }

  .row {
    margin: 0px;
  }

  .colorbar.row {
    margin-top: -100px;
    margin-bottom: 10px;
  }

  h1.logo {
    font-size: 3em;
    font-weight: 200;
    color: #DF4C73;
    text-align: center;
    margin-bottom: 0;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  h4 {
    font-size: 12px;
  }

  #quote {
    padding: 20px 20px;
    font-size: .9em;
  }
  .parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 8px;
  }

  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 2 / 1 / 3 / 2; }
  .div3 { grid-area: 3 / 1 / 4 / 2; }
  .div4 { grid-area: 4 / 1 / 5 / 2; }
  .div5 { grid-area: 5 / 1 / 6 / 2; }
  .div6 { grid-area: 6 / 1 / 7 / 2; }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    padding: 0 0 10px;
    font-size: 14px;
  }
  .icon-menu {
    max-width: 70px;
  }
  nav {
    width: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
  }

  nav>ul {
    margin: 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  body {
    font-size: 18px;
    /* Sets the font size to 18px */
  }
  .colorbar-contact.row {
    margin-top: -140px;
  }
  .rule {
    height: 6px;
    margin: 0px -20px 20px -20px;
  }

  #about-page h3 {
    margin-top: 0;
  }

  [class*="col-"] {
    float: left;
    padding: 10px 30px 10px 0px;
  }

  .row-reverse [class*="col-"] {
    float: right;
    padding-top: 0;
  }

  .col-center {
    float: none;
    margin: 0 auto;
    padding: 0;
  }

  h1.logo {
    font-size: 3em;
    font-weight: 200;
    margin-bottom: 0;
  }
}

/* ==END Medium*/

/* ==============================
Medium devices (920px and larger)
================================= */
@media only screen and (min-width: 920px) {
  .icon-menu {
    max-width: 85px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  body {
    font-size: 20px;
    /* Sets the font size to 16px */
  }

  h1.logo {
    font-size: 5em;
    margin-bottom: 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

}




/* code pen neo blob */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.frame {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 23px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  margin: auto;
  left: 0;
  right: 0;
  top: 0.65em;
  bottom: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 5;
  overflow: hidden;
}

.outer-frame {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 23px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 20px 20px 60px #9d9d9d, -20px -20px 60px #ffffff;
  margin: auto;
  left: 0em;
  right: 0;
  top: 30em;
  bottom: 0;
}

.circle {
  border-radius: 50%;
  border: 0.3em dashed #ff9933;
  height: 60px;
  width: 60px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.grid {
  border-radius: 25%;
  padding: 10px;
  width: 80px;
  height: 80px;
  background: #37505c;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.box {
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: linear-gradient(145deg, #3b5662, #324853);
  box-shadow: 20px 20px 60px #273840, -20px -20px 60px #486878;
  overflow: hidden;
}

.outer-frame:hover .grid {
  background-color: #2e434d;
}

.outer-frame:hover .box {
  border-radius: 50%;
  background: linear-gradient(145deg, #68bce6, #7be0ff);
  box-shadow: 20px 20px 60px #5192b3, -20px -20px 60px #96ffff;
}

.outer-frame:hover .circle {
  opacity: 0;
}

.outer-cab {
  width: 350px;
  height: 350px;
  position: absolute;
  margin: auto;
  left: 0em;
  right: 0;
  top: 0em;
  bottom: 0;
  overflow: hidden;
  border-radius: 50px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #9d9d9d, -20px -20px 60px #ffffff;
}

.inner-cab {
  width: 320px;
  height: 320px;
  position: absolute;
  margin: auto;
  left: 0em;
  right: 0;
  top: 0em;
  bottom: 0;
  overflow: hidden;
  border-radius: 40px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: inset 20px 20px 60px #9d9d9d, -20px -20px 60px #ffffff;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.split-a {
  width: 600px;
  height: 10px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 20px 20px 60px #9d9d9d, -20px -20px 60px #ffffff;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  left: -0.05em;
  right: 0;
  top: 7.5em;
  bottom: 0;
  z-index: 50;
}

.split-b {
  width: 600px;
  height: 10px;
  background: #fff;
  box-shadow: 20px 20px 60px #9d9d9d, -20px -20px 60px #ffffff;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  left: -0.05em;
  right: 0;
  top: 0.2em;
  bottom: 0;
  z-index: 50;
}

.shelf {
  width: 350px;
  height: 20px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 20px 20px 60px #9d9d9d, -20px -20px 60px #ffffff;
  position: relative;
  left: 0em;
  right: 0;
  top: 25em;
  bottom: 0;
}

.card {
  -webkit-transition: height 0.7s ease;
  height: 0px;
  width: 0px;
  z-index: -99999;
  background: #191919;
  position: absolute;
  margin: auto;
  left: 0em;
  right: 0;
  top: 0em;
  bottom: 0;
  overflow: hidden;
  border-radius: 50px;
  border: 1em solid #eeeeee;
  background: #c9d1d1;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  box-shadow: inset 22px 22px 51px #6d7171, inset -22px -22px 51px #ffffff;
}

input {
  display: none;
}

input:checked+.card {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 350px;
  height: 350px;
  z-index: 6;
}

input:checked+.box {
  border-radius: 45px;
  background: linear-gradient(145deg, #30e227, #29be20);
  box-shadow: 20px 20px 60px #26b31f, -20px -20px 60px #34f329;
}

.blob {
  width: 200px;
  height: 200px;
  border-radius: 100% 90% 72% 100%/94% 100% 79% 93%;
  background: linear-gradient(145deg, #fff1c9, #ffd666);
  box-shadow: inset 20px 20px 60px #e67300, inset -20px -20px 60px #ffb366, 20px 20px 60px #e67300, -20px -20px 60px #ffb366;
  position: absolute;
  margin: auto;
  left: 0em;
  right: 0;
  top: 0em;
  bottom: 0;
  z-index: 99;
  animation: sway 10s ease-in-out infinite both alternate;
}

@keyframes sway {
  0%, 100% {
    border-radius: 100% 90% 72% 100%/94% 100% 79% 93%;
    top: 120px;
  }

  14% {
    border-radius: 100% 74% 82% 100%/98% 100% 82% 91%;
    left: 30px;
  }

  28% {
    border-radius: 94% 96% 76% 82%/98% 100% 81% 42%;
    bottom: 60px;
  }

  42% {
    border-radius: 94% 96% 76% 82%/98% 100% 38% 100%;
    left: -40px;
  }

  56% {
    border-radius: 37% 96% 100% 86%/98% 90% 60% 100%;
    top: -150px;
  }

  70% {
    border-radius: 37% 96% 44% 86%/73% 100% 60% 100%;
    right: 100px;
  }

  84% {
    border-radius: 81% 96% 87% 86%/73% 100% 82% 100%;
    right: -60px;
  }
}

.blob:hover {
  background: linear-gradient(145deg, #2872a4, #84e5ff);
  box-shadow: 20px 20px 60px #62a9d9, -20px -20px 60px #84e5ff, inset 20px 20px 60px #62a9d9, inset -20px -20px 60px #84e5ff;
}

.stuck {
  text-align: center;
  padding-top: 3em;
}

#toggleC:checked~.prize {
  background-color: orange;
  border-radius: 50%;
}

.prize {
  height: 50px;
  width: 50px;
  background-color: orange;
  margin: auto;
  left: 0;
  right: 50em;
  top: 0;
  bottom: 0;
}

input {
  /*   display: none; */
}

.position {
  margin: auto;
  position: absolute;
  left: 0;
  top: -9em;
  right: 0;
  bottom: 0;
}

/*START icons*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background-color: #0e76a8;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .behance:hover,
.wrapper .behance:hover .tooltip,
.wrapper .behance:hover .tooltip::before {
  background-color: #1769ff;
  color: #ffffff;
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

/* END icons */
